<section class="content-section">
  <div class="content-header">
    <h2>Trailers</h2>
    <mat-button-toggle-group [value]="selectedCategory" (change)="selectCategory($event.value)"
      aria-label="Select trailer category">
      <mat-button-toggle value="movie">Movies</mat-button-toggle>
      <mat-button-toggle value="tv">TV Shows</mat-button-toggle>
      <mat-button-toggle value="upcomming">Upcomming</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  @if (isLoading) {
  <div class="info-message">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  }

  @if (errorMessage && !isLoading) {
  <div class="info-message error-message">
    <p>{{ errorMessage }}</p>
  </div>
  }

  @if (!isLoading && !errorMessage && trailers.length === 0) {
  <div class="info-message">
    <p>No trailers found for this selection.</p>
  </div>
  }

  @if (!isLoading && trailers.length > 0) {
  <app-horizontal-scroll>
    @for (trailer of trailers; track $index) {
    <mat-card class="media-card-item" (click)="openTrailer(trailer)">
      <img [src]="getYouTubeThumbnail(trailer.trailerKey)" [alt]="trailer.title + ' trailer thumbnail'"
        class="media-card-background-image">
      <mat-icon class="play-icon">play_circle_filled</mat-icon>

      <div class="media-card-overlay"></div>

      <mat-card-content class="media-card-content">
        <mat-card-title class="media-card-title">{{ trailer.title }}</mat-card-title>
        @if (trailer.releaseDate) {
        <mat-card-subtitle class="media-card-subtitle">
          {{ trailer.releaseDate | date:'MMM d, y' }}
          @if(trailer.vote_average) {
          | {{ trailer.vote_average | number: '1.1-1' }}
          }
        </mat-card-subtitle>
        }
      </mat-card-content>
    </mat-card>
    }
  </app-horizontal-scroll>
  }
</section>