<section class="content-section">
  <div class="content-header">
    <h2>You might also like</h2>
  </div>

  <app-horizontal-scroll *ngIf="similarItems && similarItems.length > 0">
    <ng-container *ngFor="let item of similarItems">
      <mat-card class="media-card-item" (click)="navigateToDetails(item.id)">
        <img [src]="movieService.getFullImageUrl(item.poster_path, 'w300')" [alt]="item.title || item.name"
          class="media-card-background-image" (error)="item.poster_path=null">
        <div class="media-card-overlay"></div>
        <mat-card-content class="media-card-content">
          <mat-card-title class="media-card-title">{{ item.title || item.name }}</mat-card-title>
          <mat-card-subtitle *ngIf="item.release_date || item.first_air_date" class="media-card-subtitle">
            {{ (item.release_date || item.first_air_date) | date:'MMM y' }}
            <span *ngIf="item.vote_average">
              | {{ item.vote_average | number: '1.1-1' }}
            </span>
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </ng-container>

  </app-horizontal-scroll>

  <div *ngIf="!similarItems || similarItems.length === 0" class="info-message">
    <p>No similar items found.</p>
  </div>
</section>