<section class="hero-section-container">
  <div id="background" class="background">
    <ng-container *ngIf="movies && movies.length > 0 && currentMovie">
      <div class="image-slideshow-wrapper">
        <img
          [src]="movieService.getFullImageUrl(currentMovie.backdrop_path, 'backdrop')"
          [alt]="currentMovie.title"
          [class.fade-in]="isImageFading"  class="hero-background-image"   />
      </div>
    </ng-container>

    <div class="background-overlay"></div>
  </div>

  <div id="foreground" class="foreground">
    <div class="foreground-sub">
      <div class="details-container">
        <ng-container *ngIf="currentMovie">
          <h1 class="mat-display-2 fade-in-up">{{ currentMovie.title }}</h1>
          <p class="mat-body-1 fade-in-up delay-1">
            {{ currentMovie.release_date | date: 'yyyy' }}
            <span *ngIf="currentMovie.vote_average">
              | {{ (currentMovie.vote_average * 10) | number: '1.0-0' }}% Match
            </span>
          </p>
          <p class="mat-body-2 fade-in-up delay-2 genres">
            <span *ngFor="let genreId of currentMovie.genre_ids; let last = last">
              {{ getGenreName(genreId) }}{{ !last ? ' | ' : '' }}
            </span>
          </p>
          <p class="mat-body-1 overview fade-in-up delay-3">{{ currentMovie.overview }}</p>

          <button mat-flat-button color="primary" class="button-big fade-in-up delay-4"
                  [attr.aria-label]="'View details for ' + currentMovie.title"
                  (click)="viewDetails(currentMovie.id)">
            <mat-icon>info</mat-icon> View Details
          </button>
        </ng-container>
      </div>
    </div>

    <div class="navigation-arrows">
      <button mat-icon-button (click)="prevSlide()" class="arrow left-arrow"
              aria-label="Previous movie">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button (click)="nextSlide()" class="arrow right-arrow"
              aria-label="Next movie">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

    <div class="mobile-navigation-dots" role="tablist">
      <span
        *ngFor="let movie of movies; let i = index"
        [class.active]="i === currentSlideIndex"
        (click)="selectSlide(i)"
        [attr.aria-label]="'Go to movie ' + (i + 1)"
        [attr.aria-selected]="i === currentSlideIndex"
        role="tab"
        [attr.tabindex]="i === currentSlideIndex ? 0 : -1"
      ></span>
    </div>
  </div>
</section>