<div class="scroll-wrapper" (mouseenter)="onScrollWrapperMouseEnter()" (mouseleave)="onScrollWrapperMouseLeave()">

  <button mat-icon-button class="scroll-arrow left-arrow" *ngIf="showArrows && canScrollLeft"
    (click)="scrollContentLeft()">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="horizontal-scroll-container" (scroll)="onScroll()" #scrollContainer>
    <div class="scrollable-content" (mousedown)="onMouseDown($event)">
      <ng-content></ng-content>
    </div>
  </div>

  <button mat-icon-button class="scroll-arrow right-arrow" *ngIf="showArrows && canScrollRight" (click)="scrollRight()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>