<div class="content-section">
  <div class="content-header">
    <h2>Trending</h2>
    <mat-button-toggle-group [(ngModel)]="activeTimeWindow" (ngModelChange)="loadTrendingMovies()"
      aria-label="Time window selection">
      <mat-button-toggle value="day">Today</mat-button-toggle>
      <mat-button-toggle value="week">This Week</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div *ngIf="isLoading" class="info-message">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <div *ngIf="errorMessage" class="info-message error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="!isLoading && !errorMessage && trendingMovies.length === 0" class="info-message">
    <p>No trending movies found for {{ activeTimeWindow === 'day' ? 'today' : 'this week' }}.</p>
  </div>

  <app-horizontal-scroll *ngIf="!isLoading && trendingMovies.length > 0">
    <ng-container *ngFor="let movie of trendingMovies">
      <mat-card class="media-card-item" (click)="navigateToDetails(movie.id)">
        <img [src]="movieService.getFullImageUrl(movie.poster_path, 'w300')" [alt]="movie.title"
          (error)="movie.poster_path=null" class="media-card-background-image">

        <div class="media-card-overlay"></div>

        <mat-card-content class="media-card-content">
          <mat-card-title class="media-card-title">{{ movie.title }}</mat-card-title>
          <mat-card-subtitle *ngIf="movie.release_date" class="media-card-subtitle">
            {{ movie.release_date | date:'MMM y' }}
            <span *ngIf="movie.vote_average">
              | {{ movie.vote_average | number: '1.1-1' }}
            </span>
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </app-horizontal-scroll>
</div>